({
    "characters.sheets": Folder (
        path: "characters/sheets",
    ),
    "characters.portrait": File (
        path: "characters/portraits.png"
    ),
    "characters.texture_atlas_layout": TextureAtlasLayout (
        tile_size_x: 96,
        tile_size_y: 64,
        columns: 45,
        rows: 1,
    ),
    "monsters.sheets": Folder (
        path: "monsters/sheets"
    ),
    "monsters.halfling.texture_atlas_layout": TextureAtlasLayout (
        tile_size_x: 96,
        tile_size_y: 64,
        columns: 11,
        rows: 1,
    ),
    "monster.skeleton.texture_atlas_layout": TextureAtlasLayout (
        tile_size_x: 38,
        tile_size_y: 38,
        columns: 12,
        rows: 1,
    ),
     "resources.sheet": File (
        path: "resources.png"
    ),
    "resources.texture_atlas_layout": TextureAtlasLayout (
        tile_size_x: 32,
        tile_size_y: 32,
        columns: 10,
        rows: 6,
    ),
})