({
    "player": {
        "player_running_up": [37, 38, 39, 40, 41, 42, 43, 44],
        "player_running_down": [5, 6, 7, 8, 9, 10, 11, 12],
        "player_running_left": [21, 22, 23, 24, 25, 26, 27, 28],
        "player_running_right": [21, 22, 23, 24, 25, 26, 27, 28],
        "player_running_up_left": [29, 30, 31, 32, 33, 34, 35, 36],
        "player_running_up_right": [29, 30, 31, 32, 33, 34, 35, 36],
        "player_running_down_left": [13, 14, 15, 16, 17, 18, 19, 20],
        "player_running_down_right": [13, 14, 15, 16, 17, 18, 19, 20],
        "player_idle": [0]
    },
    "halfling": {
        "halfling_walk": [0, 1, 2, 3, 4]
    },
    "hobgoblin": {
        "hobgoblin_walk": [0, 1, 2, 3, 4]
    },
    "treasure": {
        "treasure_blink": [0, 1, 2, 3, 4, 5, 6, 7]
    }
})